#table{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 25px;
  display: block;
  width: 850px;
}

#table-head{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 800;
  display: flex;
  border-bottom: 1px solid black;
}

#table-row{
  margin-left: 10px;
  display: flex;  
}

.ti-head{
  padding: 6.6px;
}

.ti-body{
  padding: 5px;
}

.ti-name{
  width: 200px;
  display: inline-flex;
}

.ti-release{
  width: 90px;
  display: inline-flex;
}

.ti-genre{
  width: 100px;
  display: inline-flex;
}

.ti-publisher{
  width: 150px;
  display: inline-flex;
}

.ti-rating{
  width: 50px;
  display: inline-flex;
}

.ti-mv{
  width: 50px;
  display: inline-flex;
}

.ti-mv_date{
  width: 90px;
  display: inline-flex;
}

.off{
  display: none;
}