<html>
<head>
  <meta charset="UTF-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_base.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
<div id='header'></div>
<div id='sub-header'>
  <div id='text-header'><h1>ICGDB</h1><span id='sub'>Internet Computer Game Database</span></div>
</div>
<div id='body'>
  <div id='nav'>
    <li><a href="{{ url_for('viewMain') }}">Home</a></li>
    <li><a href="{{ url_for('viewGames') }}">Games</a></li>
    <li><a href="{{ url_for('viewGenres')}}">Genres</a></li>
    <li><a href="{{ url_for('viewPublishers')}}">Publishers</a></li>
    
    <li style='float:right;'><a style='background-color: #F9F9F9;' href="{{ url_for('showLogin') }}"><span id='login'>Login</span></a></li> 
  </div>
  <div id='line'>t</div>
  {% block content %}{% endblock %}
</div>
</body>
</html>