<html>
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' media="handheld" href="{{ url_for('static', filename='style_base_mobile.css') }}">
  <link rel='stylesheet' media="not handheld and (max-width: 700px)" href="{{ url_for('static', filename='style_base_tab.css') }}">
  <link rel='stylesheet' media="not handheld and (min-width: 701px)" href="{{ url_for('static', filename='style_base_pc.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
<div id='header'></div>
<div id='sub-header'>
  <div id='text-header'><h1>ICGDB</h1><span id='sub'>Internet Computer Game Database</span></div>
</div>
<div id='body'>
  <div id='nav'>
    <li>
      <a href="{{ url_for('viewMain') }}">Home</a>
    </li>
    
    <li>
      <a href="{{ url_for('viewGames') }}">Games</a>
      <ul>
        <li>
          <a href="{{ url_for('newGame' )}}">New Game</a>
        </li>
      </ul>
    </li>
    
    <li>
      <a href="{{ url_for('viewGenres')}}">Genres</a>
      <ul>
        <li>
          <a href="{{ url_for('newGenre')}}">New Genre</a>
        </li>
      </ul>
    </li>
    
    <li>
      <a href="{{ url_for('viewPublishers')}}">Publishers</a>
      <ul>
        <li>
          <a href="{{ url_for('newPublisher')}}">New Publisher</a>
        </li>
      </ul>
    </li>
 
    <li style='float: right;'>
      <span id='login'>Logged in as: {{ username }}</span>
      <ul>
        <li>
          <a style='background-color: #F9F9F9; padding: 0px; margin-top: 0.5em;' href="{{ url_for('gdisconnect') }}"><span id='logout'>Logout</span></a>
        </li>
      </ul>
    </li>

    
  </div>
  <div id='line'>-</div>
  <div class='flash'>
		{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  {% block content %}{% endblock %}
  <input type='hidden' name='CSRFToken' value='{{ STATE }}' form='form1'>
</div>
</body>
</html>