{% extends "base_user.html" %}
{% block head %}
<title>ICGDB - New Genre</title>
{% endblock %}
{% block content %}
<div id='content'>
  <h2>New Genre</h2>
  <div style='margin-bottom:10px;'>
    <form action="{{ url_for('newGenre')}}" method='post' enctype='multipart/form-data' id='form1'>
    <h4><label for='genre'>Genre:</label></h4>
    <input type='text' size='32' name='name' maxlength='50' required='required'>
    <input type='submit' value='Create' class='go-button button'></input>
    <div class='descrip' style='margin-bottom: 15px'>
    <label for='description'><h2>Genre Description:</h2></label>
    <textarea name='description' cols='100' rows='6' maxlength='500'></textarea>
    </div>
    </form>
  </div>
  
</div>
{% endblock %}