{% extends "base_user.html" %}
{% block head %}
<title>ICGDB - New Game</title>
{% endblock %}
{% block content %}
<div id='content'>
  <form action="{{ url_for('newGame') }}" method='post' enctype='multipart/form-data'>
  <div style='margin-bottom: 15px;'>
    <label for='name'></label><input type='text' size='25' name='name' maxlength='50' required='required'>
    <h2 style='display: inline;'> - </h2>
    <input style='margin-left: 10px;' type='submit' value='Enter Game' name='enter'></input>
  </div>
  
  
  <div class='top-box'>
    <div id='game-pic-holder'>
      <img class='pic' src="{{ url_for('static', filename='pics/'+'placeholder.png') }}" alt='oops! image failed to load' id='img-to-change'>
      <input name='game-image' accept='image/*' type='file' onchange='previewPic()' id='new-img'>
    </div>
 
    <div class='game-info'>      
      <div class='row'>
        <div class='cell'>
          <h4><label for='genre'>Genre:</label></h4>
          <select name='genre'>
            {% for name in genre_names %}
              {% if name == "Other" %}
                <option value="{{ name }}" selected="selected">{{ name }}</option>
              {% else %}
                <option value="{{ name }}">{{ name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div> 

        <div class='cell'>        
          <h4><label for='rating'>Rating:</label></h4><input type='text' size='8' name='rating' placeholder='xx/100' maxlength='7'>
        </div>
      </div>
      
      <div class='row'>
        <div class='cell'>
          <h4><label for='publisher'>Publisher:</label></h4>
          <select name='publisher'>
            {% for name in pub_names %}
              {% if name == "Other" %}
                <option value="{{ name }}" selected="selected">{{ name }}</option>
              {% else %}
                <option value="{{ name }}">{{ name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      
        <div class='cell'>
          <h4>Market Value:</h4><input type='text' size='8' name='market_value' placeholder='$xx' maxlength='6'>
        </div>
      </div>  
      
      <div class='row'>
        <div class='cell'>
          <h4><label for='rdate'>Release Date:</label></h4><input type='text' onblur='checkDate(rdate)' size='15' name='rdate' id='rdate' placeholder='yyyy-mm-dd' maxlength='10'>
        </div> 
        
        <div class='cell'>
          <h4>Market Value Date:</h4><input type='text' onblur='checkDate(mv_date)' size='15' name='mv_date' id='mv_date' placeholder='yyyy-mm-dd' maxlength='10'>
        </div>
      </div> 
    </div>
  </div>
  
  <div class='descrip' style='margin-bottom: 15px'>
    <label for='description'><h2>Game Description:</h2></label>
    <textarea name='description' cols='100' rows='6'></textarea>
  </div>
  
  </form>  
</div>

<script>
  function previewPic(){
    var preview = document.getElementById('img-to-change');
    var file = document.getElementById('new-img').files[0];
    var reader = new FileReader();
    
    reader.onload = function(){
      preview.src = reader.result;
    }
    
    if (file){
      reader.readAsDataURL(file);
    }
  }
  
  // check if date is in correct format.
  function checkDate(d){
    if (d.value.length != 10){
      d.value='';
    }
    else{
      var dSplit = d.value.split("-"); 
      var first = dSplit[0], second = dSplit[1], third = dSplit[2];
      
      var firstTest = (first.length != 4) || (Number(first) < 1970 || Number(first) > 2020);
      var secondTest = (second.length != 2) || (Number(second) < 1 || Number(second) > 12);
      var thirdTest = (third.length != 2) || (Number(third) <1 || Number(third) > 31);
      
      if (firstTest || secondTest || thirdTest){
        d.value='';
      }
      var dJoin = Number(dSplit.join(''));
      if ( 0 < dJoin ){}
      else {
        d.value='';
      }
    }
  }
</script>
{% endblock %}