{% if username %}
{% extends "base_user.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}
<!-- MAIN BOX-->
<form action="{{ url_for('viewGamePage', game_name=game.name) }}" method='post' enctype='multipart/form-data' id='form1'>
<div class='row'>
  <!--IMAGE BOX-->
  <div class='col30 image-box' style='height: 40em; position: relative;'>
    <img class='image' src="{{ pic_url }}" alt='oops! image failed to load' id='img-to-change' >
  </div>
  <!--SPACE FILLER-->
  <div class='col2-5'></div>
  <!--GAME INFO-->
  <div class='col60'>
    <!-- ROW 0 -->
    <div class='row game-row'>
      <div class='col100'><span class='text bold'>
          <input type='button' onclick='goBack()' value='Back' class='back-button button'></input>
          {% if username %}
          <a href="{{ url_for('editGame', game_name=game.name) }}"><input type='button' value='Edit Game' class='go-button button'></a>
          <input type='submit' value='Delete Game' name='button' class='delete-button button'></input>
          {% endif %}
      </span></div>
    </div>
    <!-- ROW 1 -->
    <div class='row game-row'>
      <div class='col100'>
        <span class='text bold'>Game Name:</span><span class='text'> {{ game.name }}</span>
        </br></br>
        <span class='text bold'>Game entered by: </span><span class='text'> {{ game.user_email}}</span>
      </div>
    </div>
    <!-- ROW 2 -->
    <div class='row game-row'>
      <div class='col50'>
      <span class='text bold'>Genre: </span>
        </br>
        <span class='text'>{{ game.genre_name }}</span>
      </div>
      <div class='col50'>
        <span class='text bold'>Rating: </span>
        </br>
        <span class='text'>{{ game.rating }}</span>
      </div>
    </div>
    <!-- ROW 3 -->
    <div class='row game-row'>
      <div class='col50'>
        <span class='text bold'>Publisher: </span>
        </br>
        <span class='text'>{{ game.publisher_name }}</span>
      </div>
      <div class='col50'>
        <span class='text bold'>Market Value: </span>
        </br>
        <span class='text'>{{ game.market_value }}</span>
      </div>
    </div>
    <!-- ROW 4 -->
    <div class='row game-row'>
      <div class='col50'>
      <span class='text bold'>Release Date: </span>
        </br>
        <span class='text'>{{ game.release_date }}
      </span></div>
      <div class='col50'>
        <span class='text bold'>Market Value Date: </span>
        </br>
        <span class='text'>{{ game.mv_date }}</span>
      </div>
    </div>
    <!-- ROW 5 -->
    <div class='row game-row'>
      <div class='col100'>
        <span class='text bold'>Game Description: </span>
        </br>
        <span class='text'>{{ game.description }}</span>
      </div>
    </div>
    
  </div>
  <!--SPACE FILLER-->
  <div class='col5'></div>
</div>
</br>
</br>
</form>
{% endblock %}