{% if username %}
{% extends "base_user.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}
<div id='content'>
  
   <div style='margin-bottom: 15px;'>
    <h2 style='display: inline;'>{{ game.name }}</h2>
    <h2 style='display: inline;'> - </h2>
    <a href="{{ url_for('viewGames') }}"><input type='button' value='Back'></a>
    {% if username %}
    <a href="{{ url_for('editGame', game_name=game.name) }}"><input type='button' style='margin-left: 10px;' value='Edit Game'></a>
    <form action="#" method='post' enctype='multipart/form-data' style='display: inline;'>
      <input style='margin-left: 10px;' type='submit' value='Delete Game' name='button'>
    </form>
    {% endif %}
    <h3>Game entered by: {{ game.user_email}}</h3>
  </div>
  
  <h3></h3>
    
  <div class='top-box'>
    <div><img class='pic' src="{{ pic_url }}" alt='oops! image failed to load'></div>
    <div class='game-info'>
      <div class='row' style='margin-top:-15px;'>
        <div class='cell'><h4>Genre:</h4><p>{{ game.genre_name }}</p></div> 
        <div class='cell'><h4>Rating:</h4><p>{{ game.rating }}</p></div>  
      </div>
      <div class='row'>
        <div class='cell'><h4>Publisher:</h4><p>{{ game.publisher_name }}</p></div> 
        <div class='cell'><h4>Market Value:</h4><p>{{ game.market_value }}</p></div> 
      </div>
      <div class='row'>
        <div class='cell'><h4>Release Date:</h4><p>{{ game.release_date }}</p></div> 
        <div class='cell'><h4>Market Value Date:</h4><p>{{ game.mv_date }}</p></div>
      </div>
    </div>
  </div>
  <div class='descrip'>
    <h2>Game Description:</h2>
    <p>{{ game.description }}</p>
  </div>
</div>
{% endblock %}