{% if username %}
{% extends "base_user.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block head %}
<title>ICGDB - View Genre</title>
{% endblock %}
{% block content %}
<!-- ROW 0 -->
<div class='row'>
  <div class='col2-5'></div>
  <div class='col50'>
    <span class='text'>
    <a href="{{ url_for('viewGenres') }}"><input type='button' value='Back' class='back-button button'></a>
    {% if username %}
     <a href="{{ url_for('editGenre', genre_name=genre.name) }}"><input type='button' value='Edit Genre' class='go-button button'></a>
    <form action="#" method='post' enctype='multipart/form-data' style='display: inline;' id='form1'>
      <input type='submit' value='Delete Genre' name='button' class='delete-button button'>
    </form>
    </span>
  {% endif %}
  </div>
</div>

<!-- ROW 1 -->
<div class='row spacer'>
  <div class='col2-5'></div>
  <div class='col70'><span class='heading2'>Genre: {{ genre.name }} </span></div>
</div>

<!-- ROW 2-->
<div class='row spacer'>
  <div class='col5'></div>
  <div class='col90'>
    <span class='text bold'>
    <span class='block'>Genre entered by: {{ genre.user_email}}</span>
    </br>Description:</span>
    </br>
    <span class='text'>{{ genre.description }}</span>
  </div>
</div>

<!-- ROW 3 -->
<div class='row spacer'>
  <div class='col5'></div>
  <div class='col35'><span class='text bold'>Show Publisher: </span>
    <!-- Genre Select Drop-down button-->
    <select id='pubSelect' onchange='showPublisher()'>
      <option value="All">All</option>
      {% for name in pub_names %}
      <option value="{{ name }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class='col60'></div>
</div>

<div id='table' class='spacer'>
<!-- ROW 4 -->
<div class='row' id='table-head'>
  <div class='col2-5'></div>
  <div class='col-Name'><span class='text bold'>Name</span></div>
  <div class='col-RD'><span class='text bold'>Release Date</span></div>
  <div class='col5'></div>
  <div class='col-Genre'><span class='text bold'>Genre</span></div>
  <div class='col-Pub'><span class='text bold'>Publisher</span></div>
  <div class='col-Rating'><span class='text bold'>Rating</span></div>
  <div class='col5'></div>
  <div class='col-MV'><span class='text bold'>Market Value</span></div>
  <div class='col-MVD'><span class='text bold'>Market Value Date</span></div>
</div>
<!-- ROW 5 -->
{% for i in games %}
<span class="{{ i.publisher_name }}">
<div class='row' id='table-row'>
  <div class='col2-5'></div>
  <div class='col-Name'><span class='text'><a href="{{ url_for('viewGamePage', game_name=i.name) }}">{{i.name}}</a></span></div>
  <div class='col-RD'><span class='text'>{{i.release_date}}</span></div>
  <div class='col5'></div>
  <div class='col-Genre'><span class='text'><a href="{{ url_for('viewGenrePage', genre_name=i.genre_name) }}">{{i.genre_name}}</a></span></div>
  <div class='col-Pub'><span class='text'><a href="{{ url_for('viewPubPage', pub_name=i.publisher_name) }}">{{ i.publisher_name }}</a></span></div>
  <div class='col-Rating'><span class='text'>{{ i.rating }}</span></div>
  <div class='col5'></div>
  <div class='col-MV'><span class='text'>{{ i.market_value }}</span></div>
  <div class='col-MVD'><span class='text'>{{ i.mv_date }}</span></div>
</div>
</span>
{% endfor %}
</div>

<script>
  var pub_names = [];
  {% for i in  pub_names -%}
  pub_names.push('{{ i }}');
  {% endfor -%}
  
  function showPublisher(){
    var selection = document.getElementById("pubSelect").value;
    console.log(selection);
    for (i in pub_names){
      x = document.getElementsByClassName(pub_names[i]);
      for (j = 0; j < x.length; j++){
        if (selection == x[j].className | selection + " off" == x[j].className){ 
          x[j].className = pub_names[i];
        } else if (selection == "All"){
          x[j].className = pub_names[i];
        } else{
          x[j].className = pub_names[i] + " off";
        }
      }
    }
  }
  
</script>
{% endblock %}