{% if username %}
{% extends "base_user.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block head %}
<title>ICGDB - View Publishers</title>
{% endblock %}
{% block content %}
<div'>
  <h2>Publishers:</h2>
    <ol style='margin-left: 15px;'>
      
    {% for i in pub_names %}
      <li style='margin-bottom: 7px;'>
      <p class='inline'><a href="{{ url_for('viewPubPage', pub_name=i )}}">{{ i }} </a></p>
      {% if username %}
      <p class='inline'> - </p>
      <form action='#' method='post' enctype='multipart/form-data' class='inline'>
      <input type='submit' value='Delete' name='delete' class='delete-button button'>
      <input type='text' name='name' value='{{ i }}' class='invis'>
      <input type='hidden' name='CSRFToken' value='{{ STATE }}'>
      </form>
      {% endif %}
      </li>
    {% endfor %}
    </ol>
  </div>     
</div>
{% endblock %}
