{% if username %}
{% extends "base_user.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block head %}
<title>ICGDB - View Publishers</title>
{% endblock %}
{% block content %}
<div class='row heading1'><div class='col100'>Publishers:</div></div>
<div class='row lists'>
  <div class='col5'></div>
  <div class='col90'>
    <ol>
    {% for i in pub_names %}
      <li class='items'>
      <span class='inline'><a href="{{ url_for('viewPubPage', pub_name=i )}}">{{ i }} </a></span>
      {% if username %}
      <span class='inline'> - </span>
      <form action='#' method='post' enctype='multipart/form-data' class='inline'>
      <input type='submit' value='Delete' name='delete' class='delete-button button'>
      <input type='text' name='name' value='{{ i }}' class='invis'>
      <input type='hidden' name='CSRFToken' value='{{ STATE }}'>
      </form>
      {% endif %}
      </li>
    {% endfor %}
    </ol>
    </div>
  </div>     
{% endblock %}
